body{
    background: black;

}
.navbar{
    background: rgba(0, 0, 0, 0.6);
    height: 90px;

}
.nav-link , .navbar-brand{
    color: #f4f4f4;
    cursor: pointer;
}
.nav-link{
    margin-right: 1.2em !important;
    font-size: 17px;
    position: relative;
    z-index: 10;
}
.nav-link:hover{
    color: #e7a331;
}
.navbar-collapse{
    justify-content: flex-end;
    margin-right: 10%;
}
.navbar-toggler{
    background: #e7a331!important;
}
.page1 .table{
    text-align: center;
    color: #e7a331;
    border: 1px solid white;
    border-radius: 5px;
    width: 160px;
    margin: 0;

}


.social-line{
    background: white;
    min-height: 35px;
    display: flex;
    justify-content: flex-end;
}
.social-line .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.social-line ul{
    margin: 0;
    display: inline-block;
}
.social-line li{
    display: inline-block;
    margin-left: 0.5em;
}
.social-line .info{
    margin-right: 120px;
    font-size: 15px;
}
.social-line .info img{
    margin-left: 40px;
}


.header{
    background-image: url('../img/Layer 69.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.page1 .logo{
    position: absolute;
    top: -220px;
    left: 135px;
}
.page1 .logo-text{
    position: absolute;
    left: 255px;
    top: 15px;
}


.page1 .overlay{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}
.page1 .overlay h1{
    font-size: 109px;
    padding-top: 184px;
    font-family: Pacifico;
    font-style: normal;
    padding-bottom: 20px;

}
.page1 .overlay p{
    font-size: 25px;
    margin-bottom: 44px;
    font-family: serif;

}
.page1 .overlay a{
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 160px;
    padding: 8px;
    margin: 0;
    font-size: 20px;
    font-family: serif;
}




.page2{
    background-image: url("../img/Rectangle 21.png");
    background-size: cover;
    background-position: center;
    font-family: serif;
    position: relative;
}
.page2 .container{
    padding-bottom: 130px;
    padding-top: 110px;
    position: relative;
    z-index: 1;
}
.page2 .desc{
    padding-left: 60px;

}
.page2 h2{
    font-size: 30px;
    font-family: Pacifico!important;
    margin-bottom: 10px;
}
.page2 h3{
    font-size: 38px;
    margin-bottom: 25px;
}
.page2 p{
    font-size: 15px;
}
.page2 .big-text{
    margin-bottom: 30px;
}
.page2 a{
    color: white;
    font-size: 15px;
    padding: 13px 30px;
    background: #e7a331;
    border-radius: 5px;
    border: 1px solid #e7a331;
    text-align: center;
}
.page2 .img-angle{
    position: absolute;
    right: 0;
    bottom: 0;
}



.page3{
    background-image: url("../img/Layer 78.png");
    background-size: cover;
    background-position: center;
    font-family: serif;
    position: relative;
}
.page3 .content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 135px;
    margin-right: 33px;
}
.page3 .content div{
    display: inline-block;
    position: relative;
}
.page3 .text{
    background-image: url("../img/Rectangle 4.png");
    background-size: cover;
    width: 530px;
    height: 460px;
    left: 33px;
    z-index: 1;
    padding: 45px;
}
.page3 .text h2{
    font-size: 30px;
    font-family: Pacifico!important;
}
.page3 .text h3{
    font-size: 38px;
}
.page3 .text p{
    font-size: 15px;
}
.page3 .img{
    width: 670px;
    height: 550px;
}
.page3 a{
    color: white;
    font-size: 15px;
    padding: 13px 30px;
    background: #e7a331;
    border-radius: 5px;
    border: 1px solid #e7a331;
    text-align: center;
}
.page3 .img-left{
    position: absolute;
    bottom: -210px;
    left: 0;
    z-index: 10;
}






.page4{
    background-image: url("../img/Rectangle 2 copy1.png");
    background-size: cover;
    background-position: center;
    font-family: serif;
    position: relative;
}
.page4 h2{
    padding-top: 95px;
    font-size: 30px;
    font-family: Pacifico!important;
}
.page4 h3{
    font-size: 30px;
    margin-bottom: 67px;
}
.page4 .col-lg-3{
    padding: 0;
    margin-bottom: 55px;
}
.page4 .container{
    padding-bottom: 65px;
}
.page4 .chicken{
    position: relative;
}
.page4 .chicken-text{
    background: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    top: 30px;
    left: 23px;
    text-align: center;
    padding: 30px 31px 30px 31px;
}
.page4 .chicken-text h4{
    margin: 0;
    font-size: 22px;
}
.page4 .chicken-text p{
    font-size: 41px;
    padding-top: 25px;
    padding-bottom: 20px;
    margin: 0;
}
.page4 .chicken-text a{
    color: white;
    font-size: 15px;
    padding: 8px 15px;
    background: #e7a331;
    border-radius: 5px;
    border: 1px solid #e7a331;
    text-align: center;
}
.page4 .img-right{
    position: absolute;
    bottom: -169px;
    right: 0;
    z-index: 10;
}




.page5{
    background-image: url("../img/Layer 82.png");
    background-size: cover;
    background-position: center;
    font-family: serif;
    position: relative;
    padding-bottom: 112px;
}
.page5 h2{
    color: white;
    padding-top: 95px;
    font-size: 30px;
    font-family: Pacifico!important;
}
.page5 h3{
    color: white;
    font-size: 30px;
    margin-bottom: 55px;
}
.page5 .menu{
    background: white;
    padding: 40px 55px 35px 55px;
    width: 600px;
    height: 450px;
    right: 100px;
    z-index: 2;

}
.page5 .menu h4{
    font-size: 30px;
    font-family: Pacifico!important;
    margin-bottom: 32px;
}
.page5 .menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.page5 .menu li{
    margin-bottom: 10px;
    font-size: 18px;
}
.page5 .menu-img{
    padding-left: 100px;
    position: relative;
    z-index: 1;
}
.page5 .menu-all{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}
.page5 .menu-all div{
    display: inline-block;
    position: relative;
}

.page5 .menu-all-inverse{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}
.page5 .menu-all-inverse div{
    display: inline-block;
    position: relative;
}
.page5 .menu-all-inverse .menu{
    background: white;
    padding: 40px 55px 35px 55px;
    width: 600px;
    height: 450px;
    left: 100px;
    z-index: 2;
}
.page5 .menu-all-inverse .menu-img{
    padding-right: 100px;
    padding-left: 0;
}
.page5 .img-angle{
    position: absolute;
    left: 0;
    bottom: 0;
}




.page6{
    background-image: url("../img/Layer 92(1).png");
    background-size: cover;
    background-position: center;
    font-family: serif;
    color: white;
}
.page6 .container{
    padding-top: 40px;
    padding-bottom: 100px;
}
.page6 .row{
    display: flex;
    justify-content: center;

}
.page6 .description{
    padding-top: 90px;
}
.page6 .description h2{
    font-size: 30px;
    font-family: Pacifico!important;
}
.page6 .description h3{
    font-size: 95px;
    margin: 0;
}
.page6 .description h4{
    font-size: 30px;
    margin-bottom: 30px;
}
.page6 .description ul{
    padding: 0;
}
.page6 .description li{
    display: inline-block;
    margin-right: 30px;
}




.page7{
    background-image: url("../img/Rectangle 11.png");
    background-size: cover;
    background-position: center;
    font-family: serif;
    color: white;
    position: relative;
}
.page7 .container{
    padding-top: 60px;
    padding-bottom: 30px;
}
.page7 .row{
    text-align: center;
}
.page7 h2{
    font-size: 30px;
    font-family: Pacifico!important;
}
.page7 h3{
    font-size: 15px;
}
.page7 p{
    font-size: 15px;
}
.page7 ul{
    padding: 0;
}
.page7 li{
    display: inline-block;
    margin-right: 15px;
}

.page7 .column1 h2{
    margin-bottom: 75px;
}
.page7 .column1 p{
    margin-bottom: 23px;
}
.page7 .column1 ul{
    margin-top: 87px;
}

.page7 .column2 h2{
    padding-bottom: 36px;
    margin: 0;
}
.page7 .column2 h3{
    padding-bottom: 24px;
    padding-top: 24px;
    margin: 0;
}
.page7 .column2 p{
     margin: 0;
}


.page7 .forms{
    text-align: left;
}
.page7 .form-control{
    background: #323232;
    color: white;
    border: #323232;
    border-radius: 5px;
    height: 42px;
}
.page7 .message{
    min-height: 108px;
}
.page7 button{
    color: white;
    font-size: 15px;
    background: #e7a331;
    border-radius: 5px;
    border: #e7a331;
    text-align: center;
    width: 150px;
    height: 47px;
}
button:focus{
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}
.form-control:focus {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}
.page7 .bottom-line{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    height: 62px;
    font-size: 15px;
}
.page7 .bottom-line p{
    margin: 0;
}

.page7 .img-left{
    position: absolute;
    left: 0;
    top: 60px;
}
.page7 .img-right{
    position: absolute;
    right: 0;
    top: 100px;
}