.app__item-link {
    margin-right: 31px;
}

.app__item-link:last-child {
    margin-right: 0;
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
    .app__item-link {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 700px) {
    .app__item-link {
        margin-right: 0;
        margin-bottom: 10px;
    }
}