.special-recipes__text {
    font-size: 15px;
    font-family: 'TimesNewRoman', serif;
    font-weight: 400;
    margin: 0 0 29px 0;

    color: #4a4949;
}

.about-us__text:last-child {
    margin-bottom: 0;
}