.header__social-item {
    margin-right: 15px;
}

.header__social-item:last-child {
    margin-right: 0;
}

@media screen and (max-width: 1080px){
    .header__social-item {
        margin-right: 10px;
    }
}

@media screen and (max-width: 1024px){
    .header__social-item {
        margin-right: 7px;
    }
}

@media screen and (max-width: 768px){
    .header__social-item {
        margin-right: 5px;
    }
}