.form__item {
    width: 371px;
    height: 44px;
    border-radius: 5px;
    background-color: #323232;
    font-size: 15px;
    color: #9a9a9a;
    font-family: 'TimesNewRoman', serif;
    font-weight: 400;
    border: none;
    margin: 0 0 11px 0;
    padding-left: 25px;
}

.form__item:last-child {
    margin-bottom: 0;
}