.header__social {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

@media screen and (max-width: 610px){
    .header__social {
        padding-bottom: 2px;
    }
}