.footer__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
    gap: 30px;
    padding-bottom: 33px;
    padding-top: 67px;
    position: relative;
    z-index: 2;
    justify-content: center;
}