.about-us__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 41px;
    padding-top: 112px;
}

@media screen and (max-width: 926px){
    .about-us__container {
        justify-content: center;
        grid-gap: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}