.logo {
    position: absolute;
    left: 7%;
    top: 0;
    z-index: 2;
}

@media screen and (max-width: 1280px){
    .logo {
        width: 309px;
    }
}

@media screen and (max-width: 1024px){
    .logo {
        width: 299px;
        left: 5%;
    }
}

@media screen and (max-width: 768px){
    .logo {
        width: 229px;
        left: 3%;
    }
}

@media screen and (max-width: 610px){
    .logo {
        width: 219px;
        left: 3%;
    }
}

@media screen and (max-width: 590px){
    .logo {
        width: 200px;
        left: 3%;
    }
}

@media screen and (max-width: 555px){
    .logo {
        width: 149px;
        left: 3%;
    }
}