.about-us__sprite {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 290px;
    height: 345px;
}

@media screen and (max-width: 1380px){
    .about-us__sprite {
        opacity: 0.5;
    }
}