.menu__container {
    display: grid;
    grid-template-columns: 7fr 6fr;
    align-items: center;
    margin-bottom: 64px;
    position: relative;
    z-index: 2;
}

.menu__container:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .menu__container {
        grid-template-columns: minmax(300px, 598px);
        justify-content: center;
    }
}