.header__subtitle {
    max-width: 882px;
    font-size: 25px;
    color: #ffffff;
    font-family: "Times New Roman", serif;
    text-align: center;
    font-weight: 400;
    margin: 0 0 46px 0;
}

@media screen and (max-width: 610px){
    .header__subtitle {
        font-size: 18px;
    }
}