.menu__title {
    font-size: 30px;
    color: #000;
    font-weight: 400;
    font-family: 'Pacifico-Regular', sans-serif;
    margin: 0 0 35px 0;
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
    .menu__title {
        font-size: 30px;
        margin: 0 0 25px 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .menu__title {
        font-size: 20px;
        margin: 0 0 10px 0;
    }
}