.header__info-item {
    margin-right: 45px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #2b2b2b;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.header__info-item:last-child {
    margin-right: 0;
}

@media screen and (max-width: 1024px){
    .header__info-item {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .header__info-item:last-child {
        margin-bottom: 0;
    }
}