.site-menu__link {
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
    font-family: "Myriad", sans-serif;
    font-weight: normal;
}

.site-menu__link:hover {
    opacity:0.5;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .site-menu__link {
        font-size: 15px;
    }
}

@media screen and (max-width: 610px){
    .site-menu__link {
        font-size: 15px;
    }
}