.special-recipes__container {
    display: grid;
    grid-template-columns: minmax(300px, 5fr) minmax(400px, 7fr);
    align-items: center;
    justify-content: center;
    padding-top: 97px;
    padding-bottom: 132px;

    position: relative;
    left: -1%;
}