.app {
    background-image: url("../../images/back-mobile-app.jpg");
    background-size: cover;
    background-position: top center;
    min-height: 704px;
}

@media screen and (max-width: 1024px){
    .app {
        min-height: 504px;
    }
}
