.experience__sprite {
    position: absolute;
    right: 0;
    bottom: -169px;
    width: 166px;
    height: 338px;
    z-index: 1;
}

@media screen and (max-width: 610px) {
    .experience__sprite {
        display: none;
    }
}