.header__menu-button {
    width: 162px;
    height: 45px;
    border-radius: 5px;
    background-color: rgba(231,163,49,0);
    border: 1px solid #fff;
    color: #e7a331;
    font-weight: normal;
    font-size: 17px;
    font-family: "Myriad", sans-serif;
    margin-left: 32px;
}

.header__menu-button:hover {
    cursor: pointer;
    opacity: 0.5;
}