.menu__box {
    background: #fff;
    position: relative;
    left: -15%;
    height: 86%;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    padding-left: 58px;
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
    .menu__box {
        padding-left: 38px;
        padding-top: 32px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .menu__box {
        padding-left: 26px;
        padding-top: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .menu__box {
        min-height: 454px;
        padding-left: 48px;
        padding-top: 42px;
        left: 0;
    }
}

@media screen and (max-width: 610px) {
    .menu__box {
        padding-left: 12px;
        padding-top: 12px;
        min-height: 320px;
    }
}