.site-menu__item {
    margin-right: 48px;
}

.site-menu__item:last-child {
    margin-right: 0;
}

@media screen and (max-width: 1280px){
    .site-menu__item {
        margin-right: 30px;
    }
}

@media screen and (max-width: 1080px){
    .site-menu__item {
        margin-right: 20px;
    }
}

@media screen and (max-width: 768px){
    .site-menu__item {
        margin-right: 10px;
    }
}